@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #191919;
  --primaryColor:#d87d4a;

  --font-sans: var(--font-geist-sans, ui-sans-serif, system-ui, sans-serif);
  --font-mono: var(--font-geist-mono, ui-monospace, SFMono-Regular, monospace);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primaryColor: var(--primaryColor)
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}


/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@layer utilities {
  .animate-fade-in {
    animation: fade-in 1s ease-in-out forwards;
  }

  .animate-fade-in-fast { animation: fade-in 0.5s ease-in-out forwards; }
  .animate-fade-in-slow { animation: fade-in 2s ease-in-out forwards; }

  .animate-delay-150 { animation-delay: 150ms; }
  .animate-delay-300 { animation-delay: 300ms; }
  .animate-delay-500 { animation-delay: 500ms; }
}


